@model _24DH113050_LTW.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Xóa danh mục</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <h4 class="bg-danger">Bạn có chắc chắn có muốn xóa danh mục này không?</h4>

        <div class="form-group">
            <div class="control-label col-md-2">Tên danh mục</div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CategoryName)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Xóa" class="btn btn-primary" /> |
                    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
                </div>
            </div>
        </div>
    </div>
}
