@model _24DH113050_LTW.Models.Category
@* form con sẽ được nhúng vào form cha là Edit.cshmtl và Create.cshtml *@
<div class="form-group">
    @*@Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })*@
    <div class="control-label col-md-2">Tên danh mục</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
    </div>
</div>
<hr />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>
